body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 55px;
  font-weight: bold;
}

#bs-example-navbar-collapse-1 a {
  color: #031b4e;
  font-weight: bold;
}

#bs-example-navbar-collapse-1 a:hover {
  color: #0069ff;
}

#logo-nav {
  /* height: 25px;
  width: 170px; */
  height: 100%
}

#logo-nav-alt {
  height: 100%;

}

#prova {
  padding-right: 0px;
  padding-left: 5px;
}

#prova2 {
  padding-right: 7px;
  padding-left: 5px;
}

#bottone-nav {
  border: 1px solid #0069ff;
  color: #0069ff;
  font-weight: bold;
}
#bottone-nav:hover {
  border: 1px solid #0069ff;
  color: white;
  font-weight: bold;
  background-color: #0069ff
}

.sfondo-banner {
  margin-top: 51px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;

}

.ocean-banner {
  color: white;
}

.welcome {
  padding-top: 110px;
}

.ocean-jumbo {
  margin-top: 90px;
  padding-bottom: 100px;
}

.titolo-jumbo {
  background-color: #f3f5f9;
  color: #031b4e;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
}

.input-jumbo input {
  margin-bottom: 5px;

}

.inputs {
  padding: 20px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.bottoni-jumbo {
  background-color: white;
  margin-bottom: 20px;
  margin-top: 40px;
  height: 40px;
}

#bottone-signup {
  background-color: #0069ff;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  font-weight: bold;
}

#bottone-google {
  width: 80%;
  border: 1px solid #0069ff;
  color: #0069ff;
  float: left;
  font-weight: bold;
  margin-right: 5%;
  padding: 10px 0;
}

#bottone-git {
  width: 15%;
  border: 1px solid #0069ff;
  color: #0069ff;
  padding: 10px 0;
}

.sfondo-sponsors {
  background-color: #f3f5f9;
  /* height: 300px; */

}

.sponsor {
}

.titolo-sponsor {
  margin-top: 50px;
}

.spon {
  margin-top: 20px;
  margin-bottom: 50px;
}

.spon a {
  color: #0069ff;
  font-weight: bold;
}

.spon a:hover {
  color: DarkSlateBlue;
  text-decoration: none;

}

.titolo-deploy {
  margin-top: 90px;
  color: #5b6987;
}

.titolo-deploy h2 {
  color: #031b4e;
  font-weight: bold;
}

.ocean-aside {
  margin-top: 50px;
  color: #5b6987;
  font-weight: bold;
}

.ocean-aside li {
  margin-bottom: 25px;

  list-style: none;
}

.ocean-aside a {
  text-decoration: none;
  color: #5b6987;
}

.ocean-aside a:hover {
  text-decoration: none;
  color: #031b4e;
}

.card {
  margin-top: 50px;
  color: #5b6987;
}

.card img {
  height: 40px;
  width: 40px;
}

.card h4 {
  font-weight: bold;
  color: #031b4e;
  font-size: 16px;
}

.sfondo-developer {
  background-color: #f3f5f9;
  color:#031b4e;
}

.titolo-developer {
  margin-top: 90px;
  margin-bottom: 50px;
}

.titolo-developer h2 {
  font-weight: bold;
}

.didascalia-carosello {
  margin-top: 30px;
  margin-bottom: 90px;
}

.titolo-built {
  margin-top: 90px;
  margin-bottom: 50px;
}

.titolo-built h2 {
  color: #031b4e;
  font-weight: bold;
}

.card-built {
  color: #5b6987;
  margin-bottom: 90px;
}

.card-built a {
  font-weight: bold;
  color: #0069ff;
  text-decoration: none;
}

.card-built a:hover {
  color: DarkSlateBlue;
}

.card-built img {
  height: 50px;
  width: 40px;
}

.card-built h4 {
  font-weight: bold;
  color: #031b4e;
}

.sfondo-world {
  color: white;
  background-color: #031b4e;
  background-image: url(https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format);
  background-size: cover;
}

.titolo-world {
  margin-top: 90px;
  margin-bottom: 70px;
}

.titolo-world h2 {
  font-weight: bold;
}

.world-right {
  margin-bottom: 90px;
  color: #9da6ba;
}

.world-left {
  color: #9da6ba;
}

.table a {
  color: #00d7d2;
  font-weight: bold;
  text-decoration: none;
}

.table a:hover {
  color: #1633ff;
}

#bandwidth {
  color: #006aff;
  text-decoration: none;
}

#bandwidth:hover {
  color: #1633ff;
}

.codice-world {
  color: white;
  font-weight: bold;
}

.sfondo-digital {
  background-color: #f3f5f9;
}

.titolo-digital {
  margin-top: 90px;
  margin-bottom: 50px;
  color: #031b4e
}

.titolo-digital h2 {
  font-weight: bold;
}

.carosello-digital {
  margin-bottom: 90px;
  background-color: white;
  border-radius: 5px;
  padding: 30px 30px;
  color: #5b6987;
}

.carosello-digital img {
  height: 50px;
  width: 200px;
}

.sfondo-started {
background-image: url(https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
background-size: cover;

}

.titolo-started h2 {
  font-weight: bold;
  font-size: 34px;
  color: white;
  margin-top: 55px;
}

#bottone-account {
  background-color: white;
  color: #0069ff;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sfondo-footer {
  background-color: #010e28;
  color: #7f8693
}

#titolo-menu {
  color: white;
  margin-top: 90px;
  margin-bottom: 15px;
}

.menu-footer {
  margin-bottom: 50px;
}

.menu-footer a {
  color: #7f8693;
  text-decoration: none;
}

.menu-footer a:hover {
  color: white;
}

.menu-footer li {
  list-style: none;
}

.sfondo-bottom {
  background-color: #010e28;
}

.bottom-rule {

  border-top: 1px solid #7f8693;
  color: #7f8693
}

.bottom-left,.bottom-right {
  margin-top: 40px;
  margin-bottom: 65px;
}

.bottom-right i {
  margin-left: 1px;
  margin-right: 24px;
  font-size: 25px;
}

.bottom-right a {
  color: #7f8693;
}

.bottom-right a:hover {
  color: white;
}

#logo-bottom {
  float: left;
  margin-right: 20px;
  bottom: 20px;
  position: relative;
}
