body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 55px;
  font-weight: bold;
}

#bs-example-navbar-collapse-1 a {
  color: #031b4e;
  font-weight: bold;
}

#bs-example-navbar-collapse-1 a:hover {
  color: #0069ff;
}

#logo-nav {
  height: 25px;
  width: 170px;
}

#bottone-nav {
  border: 1px solid #0069ff;
  color: #0069ff;
  font-weight: bold;
}
#bottone-nav:hover {
  border: 1px solid #0069ff;
  color: white;
  font-weight: bold;
  background-color: #0069ff
}

.sfondo-banner {
  margin-top: 51px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
  /* height: 600px;  */
}

.ocean-banner {
  color: white;
}

.welcome {
  padding-top: 110px;
}

.ocean-jumbo {
  margin-top: 90px;
  padding-bottom: 100px;

}

.titolo-jumbo {
  background-color: #f3f5f9;
  color: #031b4e;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
}

.input-jumbo input {
  margin-bottom: 5px;

}

.inputs {
  /* border-bottom: 1px solid black; */
  padding: 20px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.bottoni-jumbo {
  /* border: 1px solid black; */
  background-color: white;
  margin-bottom: 20px;
  margin-top: 40px;
  height: 40px;
}

#bottone-signup {
  background-color: #0069ff;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  font-weight: bold;
}

#bottone-google {
  width: 80%;
  border: 1px solid #0069ff;
  color: #0069ff;
  float: left;
  font-weight: bold;
  margin-right: 5%;
  padding: 10px 0;
}

#bottone-git {
  width: 15%;
  border: 1px solid #0069ff;
  color: #0069ff;
  padding: 10px 0;
}

.sfondo-sponsors {
  background-color: #f3f5f9;
  /* height: 300px; */

}

.sponsor {
}

.titolo-sponsor {
  margin-top: 50px;
}

.spon {
  margin-top: 20px;
  margin-bottom: 50px;
}

.spon a {
  color: #0069ff;
  font-weight: bold;
}

.spon a:hover {
  color: DarkSlateBlue;
  text-decoration: none;

}

.titolo-deploy {
  margin-top: 90px;
  color: #5b6987;
}

.titolo-deploy h2 {
  color: #031b4e;
  font-weight: bold;
}

.ocean-aside {
  margin-top: 50px;
  color: #5b6987;
  font-weight: bold;
}

.ocean-aside li {
  margin-bottom: 25px;
  text-decoration: none;
  list-style: none;

}

.card {
  margin-top: 50px;
  color: #5b6987;
}

.card img {
  height: 40px;
  width: 40px;
}

.card h4 {
  font-weight: bold;
  color: #031b4e;
}

.sfondo-developer {
  background-color: #f3f5f9;
}

.titolo-developer {
  margin-top: 90px;
  margin-bottom: 50px;
}

.didascalia-carosello {
  margin-top: 30px;
  margin-bottom: 90px;
}

.titolo-built {
  margin-top: 90px;
  margin-bottom: 50px;
}

.titolo-built h2 {
  color: #031b4e;
  font-weight: bold;
}

.card-built {
  color: #5b6987;
}

.card-built img {
  height: 50px;
  width: 40px;
}

.card-built h4 {
  font-weight: bold;
  color: #031b4e;
}

.sfondo-world {
  color: white;
  background-color: #031b4e;
  background-image: url(https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format);
  background-size: cover;
}

.titolo-world h2 {
  margin-top: 90px;
}

.titolo-world h2 {
  font-weight: bold;
}

.world-right {
  margin-bottom: 90px;
}

.sfondo-digital {
  background-color: #f3f5f9;
}

.titolo-digital {
  margin-top: 90px;
  margin-bottom: 50px;

}

.carosello-digital {
  border: 1px solid black;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 5px;
}

.carosello-digital img {
  height: 50px;
  width: 200px;
}

.sfondo-started {
background-image: url(https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
background-size: cover;

}

.sfondo-footer {
  background-color: #010e28;
  color: #7f8693
}

#titolo-menu {
  color: white;
  margin-top: 90px;
  margin-bottom: 15px;
}

.menu-footer a {
  color: #7f8693;
  text-decoration: none;
}

.menu-footer li {
  list-style: none;

}
